<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pet Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.15.22/css/uikit-core.min.css"
        integrity="sha512-lNLUYgEcAcSwr+HH1wpO8O8aueNGGCgGU2O51PGfEgUx8lFvdDqRUtvYPjqtiRKAaUhEkgemPaVcfr/SM0jhZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./public/css/client.css">
    <script src=https://code.jquery.com/jquery-3.6.1.js integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.15.22/js/uikit.min.js"
        integrity="sha512-EVnQ96LP7GKKvXDF0hi+zCSnTVFE2zbd7sImIedw8vkicQJ+zXCJxRNG6uqOEmBAqb/xSzX1BucZQ/mzLaP9Tw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.16.15/js/uikit-icons.min.js"
        integrity="sha512-GVXTjKG1efO9fSG59XSv8h7jA4NBB/BxtQHFJvPBB4j6QhkC1ylchHjKK4TsBVTj9y4p8PCEe1Jx899Ff116iQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
</head>