<%- include('./partials/header'); %>
    <body>
        <div class="uk-container">
            <h1 class="uk-heading-small"><span id="title">Editor</span>
                <img class="uk-align-right" src="./public/img/yuki.jpg" width="100px">
            </h1>

            <hr class="uk-divider-icon">

            <div class="uk-child-width-expand@s uk-text-center startPoint" uk-grid>
               
            </div>
            <div id="results" class="resultTable">
                <input type="date" id="date-picker"> 
                <button id="addDate" style="margin-left:10px" class="uk-button uk-button-default">
                    Add
                </button>
            </div>

            <div id="thedates"> 

            </div>

            <hr class="uk-divider-icon">

           

         

        </div>
    </body>

    <footer>
        <div class="ui inverted footer">
            <div class="ui container">
              
            </div>
        </div>
        <script src="./public/js/editor.js">
        </script>

        <style>
            .entry {margin: 30px}
        </style>
    </footer>
    </html>