<%- include('./partials/header'); %>


<style>
    .details {font-size:0.9em !important};
    button {font-size:0.9em !important};
    .actual {margin-top:9px};
    #TodaysDate {font-weight:900}
</style>

<body>
    <div class="container">

        <!-- header -->
        <div class="row">
            <div class="col-8">
                <h2>Yuki</h2>
            </div>
            <div class="col-4">
                <img src="/yuki.JPG" width="100px">
            </div>
        </div>
		
        <!-- client details -->
        <div class="row details">
            <div class="col-2">Recieved</div>
            <div class="col-2" id="Paid">-</div>
            <div class="col-2">Visit</div>
            <div class="col-2" id="Visit">-</div>
            <div class="col-2" id="TodaysDate">-</div>
        </div>

        <div class="row details">
            <div class="col-2">Balance</div>
            <div class="col-2" id="RunningTotal">-</div>
            <div class="col-2">Count</div>
            <div class="col-2" id="Count"></div>
           
        </div>

        <hr>

        <!-- dates -->
        <div id="results" class="row">

        </div>


        
    </div>
</body>


<!-- local script -->
<script>
    var main = ""
    highlightFail = false

    var tdate = new Date(Date.now()).toLocaleString().split(',')[0]

     // setup from imported json
    var config = <%-JSON.stringify(data)%>
   
    console.log(config)
    data = JSON.parse(config)
    console.log("1",data)
    data = data[0].props
   console.log("2",data)

    // check in support
    update = (node) => {
        // hide button
        $("#" + node.replace(/\//g, "")).parent().hide()

        console.log("node",node)
        console.log("3",data)
        // update json
        console.log("4",data.dates)
        

        let index = data.dates.findIndex(object => {
            return object.date === node;
        });
       /* data.RunningTotal = data.RunningTotal - data.Visit
        data.Count = parseInt(data.Count) + 1*/
      
        data.dates[index].completed = "true"


        console.log("5",data)
        
        $.get("/update", { main: data.dates}, function (res) {
            data = JSON.parse(res)
            $("#results").html()
            renderScreen()
        });
    }

    // set up header
    renderScreen = () => {
    console.log(data)
    /*$("#Name").html(data.Name)
    $("#Visit").html("$" + data.Visit)
    $("#Paid").html("$" + data.Paid)
    $("#Count").html(data.Count + " / 29")
    $("#RunningTotal").html("$" + data.RunningTotal)*/
    $("#Name").html("Yuki")
    $("#Visit").html("$" + "20")
    $("#Paid").html("$" + "580")
    $("#Count").html("0"+ " / 29")
    $("#RunningTotal").html("$" + "580")
    $("#TodaysDate").html("<strong>" + tdate + "</strong>")

    var temp= ""
    for(x=0; x < data.dates.length; x++){
        //console.log(data.Dates[x].date + ":  " + data.Dates[x].day);
        if (data.dates[x].completed !== 'true')
        {
        temp += '<div style=\"margin-top:11px\" class="row details actual">'
       
        temp += '<div class="col-3" id=' + data.dates[x].date.replace(/\//g, "") + ' class="entryDate">' + data.dates[x].date + '</div>'
        temp += '<div class="col-3" class="entryCharge">' + data.dates[x].day + '</div>'
        temp += '<div class="col-2">' + "$" + "20" + '</div>'

        if (data.dates[x].date == tdate) {
        temp += '<div class="col-4">' + '<button onclick=\"update(`' + data.dates[x].date + '`)\" style=\"font-size:10px !important\" class=\"btn btn-warning\">Check-In</button>' + '</div>'
        }
        
        
        temp += '</div>'
        $("#results").append(temp)
    }
        temp = ""
       // $("#lob").append("<option value='" + config[key].options + "'>" + key + "</option>")
    }
}
    
// page load run
renderScreen()

     
</script>




<footer>
    <%- include('./partials/footer'); %>
</footer>

</html>
