<%- include('./partials/header'); %>
    <body>
        <div class="container-md">
            <div class="ha" style="display: flex; justify-content: flex-end">
                <h1>
                <span id="title"></span>
                <img src="./public/img/yuki.jpg" width="100px">
                </h1>
              </div>

            <hr class="uk-divider-icon">

            <div style="columns:2" class="startPoint">

            </div>

            <hr class="uk-divider-icon">

            <div class="pre_resultTable"></div>
            <div id="calendar"></div>
            <div id="results" class="resultTable">

            </div>

            <div style="text-align: center">
            <button id="showArchive" class="btn btn-secondary">
                Show Archive
            </button>
            </div>

        </div>
    </body>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    </html>