<%- include('./partials/header'); %>
    <body>
        <div class="uk-container">
            <h1 class="uk-heading-small"><span id="title"></span>
                <img class="uk-align-right" src="./public/img/yuki.jpg" width="100px">
            </h1>

            <hr class="uk-divider-icon">

            <div class="uk-child-width-expand@s uk-text-center startPoint" uk-grid>

            </div>

            <hr class="uk-divider-icon">

            <div class="pre_resultTable"></div>
            <div id="results" class="resultTable">

            </div>

            <button id="showArchive" class="uk-button uk-button-default uk-align-center">
                Show Archive
                <span uk-icon="icon: album"></span>
            </button>

        </div>
    </body>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    </html>