<%- include('./partials/header'); %>


<style>
    .details {font-size:0.9em !important};
    button {font-size:0.9em !important};
    .actual {margin-top:9px};
    #TodaysDate {font-weight:900;font-size:1.1em}
    strong {font-size:1.3em}
</style>

<body>
    <div class="container">

        <!-- header -->
        <div class="row">
            <div class="col-8">
                <h2 id="mainName"></h2>
            </div>
            <div class="col-4">
                <img src="/yuki.JPG" width="100px">
            </div>
        </div>
		
        <hr>

        <!-- client details -->
        <div class="row details">
            <div class="col-2">Recieved</div>
            <div class="col-2" id="Paid">-</div>
            <div class="col-2">Visit</div>
            <div class="col-2" id="Visit">-</div>
            <div class="col-2" id="TodaysDate">-</div>
        </div>

        <div class="row details">
            <div class="col-2">Balance</div>
            <div class="col-2" id="RunningTotal">-</div>
            <div class="col-2">Count</div>
            <div class="col-2" id="Count"></div>
           
        </div>

        <hr>

        <!-- dates -->
        <div id="results" class="row">

        </div>


        
    </div>
</body>


<!-- local script -->
<script>
    var main = ""
    highlightFail = false
    var icon = '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 16.292969 8.2929688 L 10 14.585938 L 7.7070312 12.292969 L 6.2929688 13.707031 L 10 17.414062 L 17.707031 9.7070312 L 16.292969 8.2929688 z"/></svg>'

    var tdate = new Date(Date.now()).toLocaleString().split(',')[0]
   // var tdate = "12/11/2022"

     // setup from imported json
    var config = <%-JSON.stringify(data)%>
   
    console.log(config)
    data = config
    console.log("1",data)
    $("#mainName").html(data.Name)
    //data = data[0].props
   // console.log("2",data)

    // check in support
    update = (node) => {
        // hide button
        $("#" + node.replace(/\//g, "")).parent().hide()

        console.log("node",node)
        console.log("3",data)
        // update json
        console.log("4",data.dates)
        

        let index = data.dates.findIndex(object => {
            return object.date === node;
        });
       /* data.RunningTotal = data.RunningTotal - data.Visit
        data.Count = parseInt(data.Count) + 1*/
      
        data.dates[index].completed = "true"


        console.log("5",data)
        
        $.get("/update", { main: data.dates}, function (res) {
            data = JSON.parse(res)
            $("#results").html()
            renderScreen()
        });
    }

    // set up header
    renderScreen = () => {
    console.log(data)
    $("#Name").html(data.Name)
    $("#Visit").html("$" + data.Visit)
    $("#Paid").html("$" + data.Paid)
    $("#Count").html(data.Count + " / 29")
    $("#RunningTotal").html("$" + data.RunningTotal)
    
    $("#TodaysDate").html("<strong>" + tdate + "</strong>")

    var temp= ""
    count = 0
    for(x=0; x < data.Dates.length; x++){
        //console.log(data.Dates[x].date + ":  " + data.Dates[x].day);
        // if (data.dates[x].completed !== 'true')
       // {
        temp += '<div style=\"margin-top:11px\" class="row details actual">'
       
        temp += '<div class="col-3" id=' + data.Dates[x].date.replace(/\//g, "") + ' class="entryDate">' + data.Dates[x].date + '</div>'
        temp += '<div class="col-3" class="entryCharge">' + data.Dates[x].day + '</div>'
        temp += '<div class="col-2">' + "$" + "20" + '</div>'
        if (Date.parse(data.Dates[x].date) <= Date.parse(tdate)) {
        //temp += '<div class="col-4">' + '<button onclick=\"update(`' + data.dates[x].date + '`)\" style=\"font-size:10px !important\" class=\"btn btn-warning\">Check-In</button>' + '</div>'
        temp += "<div class='col-4'>" + icon + "</div>"
        count ++
    }

    $("#Count").html(count + " / " + 29)
    minusamt = count * 20
    finalam = 580 - minusamt
    $("#RunningTotal").html("$" + finalam)
        
        
        temp += '</div>'
        $("#results").append(temp)
    
        temp = ""
       // $("#lob").append("<option value='" + config[key].options + "'>" + key + "</option>")
    }
}
    
// page load run
renderScreen()

     
</script>




<footer>
    <%- include('./partials/footer'); %>
</footer>

</html>